body {
	background: url(back2.jpg) repeat;
	font-family: Helvetica, Arial, sans-serif;
}
p {
	color: #ffffff;
}
h1 {
	margin-left: 150px;
	color: #ff0d0d;
}
h2 {
	color: #ff0d0d;
}
h3 {
	color: #1f24ff;
}
.section {
	margin-left: 150px;
	margin-right: 150px;
}
img {
	margin-left: 150px;
}